<!DOCTYPE HTML>
<html lang="[staticoso:Page:Lang]">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="[staticoso:Site:RelativeRoot]Assets/staticoso-docs.css">
	<title>[staticoso:Page:Title] - [staticoso:Site:Name]</title>
	<meta name="description" content="[staticoso:Page:Description]">
	<link href="[staticoso:Site:RelativeRoot]favicon.png" rel="icon" type="image/png">
	<meta property="og:type" content="website">
	<meta property="og:title" content="[staticoso:Page:Title] - [staticoso:Site:Name]">
	<meta property="og:description" content="[staticoso:Page:Description]">
	<meta property="og:image" content="[staticoso:Page:Image]">
	<style>
		[staticoso:Page:Style]
	</style>
</head>
<body>
	[staticoso:Page:Content]
</body>
</html>
