:root {
	--ScreenBorderPadding: 4px;
	--ContentPadding: 8px;
}

* {
	Box-Sizing: Border-Box;
}

Body {
	Margin: 0;
	//Padding: var(--ScreenBorderPadding);
	Box-Sizing: Border-Box;
	Width: 100vw;
	Position: Absolute;
	Left: Auto;
	Right: Auto;
}
#Container {
	Box-Sizing: Border-Box;
}

#TopBox {
	Border: 2px Solid Purple;
	Padding: var(--ContentPadding);
}
#LeftBox {
	Float: Left;
	Padding: var(--ContentPadding);
	//Border: 2px Solid Purple;
	user-select: none;
}
#RightBox {
	//Position: Inherit;
	//Border: 2px Solid Purple;
	//Top: 16px;
	//Right: 16px;
//	Margin: 0;
	Padding: var(--ContentPadding);
	Float: Right;
	user-select: none;
}
#MainBox {
	//Text-Align: Center;
	Margin: Auto;
	Position: Absolute;
	Z-Index: -1;
	Left: 0;
	Right: 0;
	Width: 80%;
}
#BottomBox {
	Box-Sizing: Border-Box;
	Border: 2px Solid Purple;
	Position: Fixed;
	Bottom: 0; //var(--ScreenBorderPadding);
	//Margin: var(--ScreenBorderPadding);
	Left: 0;
	Right: 0;
	Padding: var(--ContentPadding);
	Width: 100vw;
	Text-Align: Right;
}
